{% extends "!layout.html" %}

{% block extrahead %}
    {{ super() }}
    <!-- <style>
        .my-link {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 14px;
            background-color: #007bff;
            color: white;
            padding: 5px;
            border-radius: 5px;
            text-decoration: none;
        }

        .my-link:hover {
            background-color: #0056b3;
        }
    </style> -->
{% endblock %}